## Parameteres to define

In [1]:
import processData
import numpy as np

# File to laod
path = '../datasets/eicu_demo_0.5.6.parquet'
# Type of imputation
imputationType = "LRTC" #LVCF
# Threshold to remove features without data
thr_nan = 2
debug = False
seeds = [34, 56, 78]
folders = ["s1", "s2", "s3"]

for i in range(len(seeds)):
    print("split...", folders[i])
    X_train, X_test, y_train, y_test = processData.getSplits(path, imputationType, thr_nan, seeds[i])
    np.save(
       "./splits/" + folders[i] + "/X_train_tensor.npy", X_train
    )
    y_train.to_csv("./splits/" + folders[i] + "/y_train_tensor.csv", index=False)

split... s1
Length of window: 4
# of windowing patients (train): 6235 - # of original patients: 424
# of windowing patients (test): 1616 - # of original patients: 107
X_train: (6235, 4, 166)
X_test: (1616, 4, 166)
split... s2
Length of window: 4
# of windowing patients (train): 6090 - # of original patients: 424
# of windowing patients (test): 1761 - # of original patients: 107
X_train: (6090, 4, 166)
X_test: (1761, 4, 166)
split... s3
Length of window: 4
# of windowing patients (train): 6323 - # of original patients: 424
# of windowing patients (test): 1528 - # of original patients: 107
X_train: (6323, 4, 166)
X_test: (1528, 4, 166)

In [2]:
y_train

       stay_id  stay_time stay_id_split  sepshk_der
0       147784        4.0      147784_1         0.0
1       147784        5.0      147784_1         0.0
2       147784        6.0      147784_1         0.0
3       147784        7.0      147784_1         0.0
4       147784        8.0      147784_2         0.0
...        ...        ...           ...         ...
25287  3348293       43.0     3348293_7         0.0
25288  3348293       44.0     3348293_8         0.0
25289  3348293       45.0     3348293_8         0.0
25290  3348293       46.0     3348293_8         0.0
25291  3348293       47.0     3348293_8         0.0

[25292 rows x 4 columns]